
.chat_panel{
    border-style: solid;
    border-width: 1px;
    border-color: #d0bdd4;
    position: absolute;
    bottom: 10px;;
    left: 0px;
    width: 300px;
    height: 300px;
    background: yellow;
    z-index: 100;
}

.chat_header{
    height: 50px;
    width: 100%;
    background: #454545;
    color: white;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 10px;
}
.chat_container{
    width: 100%;
    height: 250px;
    background: white;
    overflow: hidden;
}
.chat_content{
    height: 200px;
    width: 280px;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
/*.chat_container input{*/
.chat_panel_input{
    margin-left: 20px;
    margin-top: 1px;
    height: 30px;
    width: 260px !important;
}
.chat_panel_input input{
    width: 250px !important;
}

.chat_panel_close_btn{
    position: absolute;
    right: 10px;
    top: 5px;
}

.chat_panel_add_friend_btn{
    position: absolute;
    right: 40px;
    top: 5px;
}

.my_message{
    display: inline-block;
    padding: 5px;
    width: 100px;
    margin-left: 150px;
    margin-top: 5px;
    color: white;
    background: #3e7e5e;
    word-wrap:break-word;
    border-radius: 10%
}

.friend_message{
    display: inline-block;
    padding: 5px;
    width: 100px;
    margin-left: 10px;
    margin-top: 5px;
    color: white;
    background: #5091b8;
    word-wrap:break-word;
    border-radius: 10%
}
